@font-face {
  font-family: "Tobago";
  src: url("TobagoPoster.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nexa";
  src: url("Nexa-Trial-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rose";
  src: url("RedRose-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}
body {
  background-color: #14213d;
}

#title {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Tobago";
  font-weight: lighter;
  letter-spacing: 1px;
}

.container_calcEfilter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
}

#info_valor {
  display: flex;
  justify-content: space-evenly;
}

.valor_total_receber {
  margin-top: 7px;
}

.lista-bois {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*MOSTRADOR DOS BOIS =========================================================*/
.boi-item {
  border: 1px solid #ff9d00;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-family: "Rose";
}

.boi-item button {
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-top: 4px;
  background: linear-gradient(30deg, #ffb34a, #eab872);
  font-family: "Rose";
  font-size: 9pt;
}

.container_info {
  display: flex;
  justify-content: center;
}

.info input[type="number"],
.info input[type="text"] {
  height: 30px;
  border-radius: 10px 5px;
  background-color: #14213d;
  border: 2px solid #ff9d00;
  color: white;
}

.colum {
  display: flex;
  flex-direction: column;
}

.container_btn_home {
  display: flex;
  justify-content: end;
}

#btn_home img {
  width: 40px;
}

.botoes-cor {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

#container_btn_add {
  display: flex;
  justify-content: center;
}

.botoes-cor input {
  width: 80px;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 1px solid #ff9d00;
  font-family: "Nexa";
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes-cor input.selecionado {
  outline: 1px solid #ffc15c87; /* contorno forte */
  box-shadow: 0 0 0px 2px #ffc870; /* sombra escura */
  transform: scale(1.05); /* leve aumento visual */
}

#btn_preto {
  background: linear-gradient(34deg, #232526, #555658);
  color: white;
}

#btn_vermelho {
  background: linear-gradient(34deg, #f76267, #b70c06);
  color: white;
  font-size: 9pt;
}

#btn_verde {
  background: linear-gradient(34deg, #dce35b, #49cf4d, #45b649);
  color: white;
}

#btn_laranja {
  background: linear-gradient(34deg, #ffb34a, #f57004);
  color: white;
}

#btn_branco {
  background: linear-gradient(34deg, rgb(170, 170, 170), white);
  color: #212223;
}

#btn_azul {
  background: linear-gradient(34deg, #004e92, #0e176a);
  color: white;
}

#btn_amarelo {
  background: linear-gradient(34deg, #f09819, #edde5d);
}

#btn_add_animal {
  width: 360px;
  margin-top: 10px;
  background: linear-gradient(178deg, #fec25b, #ff9d00, #8a5807);
  height: 30px;
  border: 1px solid #ff9d00;
  border-radius: 10px;
  font-family: "Nexa";
  font-size: 11pt;
  color: white;
}

#valor_kg {
  height: 25px;
  border-radius: 10px;
}

#btn_calcular {
  height: 33px;
  width: 120px;
  border-radius: 10px;
  background: linear-gradient(175deg, #fec25b, #ff9d00, #8a5807);
  color: white;
  border: 1px solid #ff9d00;
  font-family: "Nexa";
  font-size: 10pt;
}

#label_filter {
  font-size: 13pt;
}

#filter_color {
  height: 20px;
  border-radius: 7px;
}

.valor_total_receber {
  color: white;
  font-family: "Rose";
}

.salvar-contagem {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.salvar-contagem button {
  height: 30px;
  background: linear-gradient(175deg, #fec25b, #ff9d00);
  border-radius: 10px;
  border: 2px solid #ff9d00;
  font-family: "Nexa";
  font-size: 10pt;
  color: rgb(255, 254, 254);
}

.total_bois {
  color: white;
  font-family: "Rose";
  font-size: 11pt;
}

.peso_tot{
  color: white;
  font-family: "Rose";
}
/*CELULAR 576px*/

@media (max-width: 440px) {
  #peso,
  #num {
    height: 30px;
    margin-bottom: 20px;
    margin: 3px;
    border-radius: 10px;
    width: 175px;
  }

  .colum input {
    height: 45px;
    width: 80px;
    border-radius: 10px;
    font-size: 11pt;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-cor {
    width: 20px;
  }

  .botoes-cor label {
    display: none;
  }

  .botoes-cor {
    margin-left: 5px;
  }

  .salvar-contagem {
    width: 160px;
    margin-left: 5px;
    margin-bottom: 15px;
    position: absolute;
    top: 426px;
    right: 25px;
  }

  .salvar-contagem button {
    height: 30px;
    width: 210px;
    margin-top: 25px;
  }

  #valor_kg {
    width: 163px;
    margin-right: 5px;
    border-radius: 10px;
  }

  .container_calcEfilter {
    display: flex;
    margin-left: 15px;
  }

  #info_valor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin-top: 2;
  }

  #filter_color {
    width: 160px;
    height: 30px;
    font-size: 11pt;
    position: absolute;
    top: 385px;
    right: 20px;
    margin-top: 27px;
    margin-right: 6px;
  }

  #btn_calcular {
    width: 165px;
    height: 30px;
    border-radius: 10px;
    font-size: 10pt;
    margin-top: 10px;
    margin-left: 5px;
  }

  .valor_total_receber {
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #obs {
    height: 30px;
    width: 95%;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
  }

  #btn_amarelo {
    font-size: 10pt;
}
}
